*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;

}


.main-Container{
    width: 500px;
    margin: 100px auto;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 20px;
}

.hello{
    width: 50px;
    margin: 50px auto;
}
.hello-img{
    width: 50px;
    align-items: center;
}

.intro{
    width: 450px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    line-height: 30px;
}
.intro h1{
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 700;
}
.intro p{
    font-size: 20px;
    color: rgb(136, 136, 136);
}

.link a{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    text-decoration: none;
}

.link-1{
    display: flex;
    gap: 20px;
    align-items: center;
}

.arrow-img{
    opacity: 0;
    transition: opacity 0.3s ease;
   
}
.arrow {
    width: 30px;
    align-items: end;
}

.arrow-img:hover {
    opacity: 1;
}

.link  a:hover{
    background-color: rgb(240, 234, 234);
   opacity: 1;
   
}

.plan-img{
    width: 40px;
    align-items: center;
}

.link h5{
    font-size: 16px;
    color: black;
}

.man{
    width: 250px;
    margin: 10px auto;
    align-items: center;
}

.man-img{
    width: 250px;
    align-items: center;
}

.header{
    width: 450px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    line-height: 30px;
}

.header h1{
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
}

.header p{
    font-size: 16px;
    color: rgb(100, 100, 100);
}

span{
    color: black;
    font-weight: 700;
}

.input-otp{
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.input-otp input{
    width: 100%;
   border:1px solid lightgray;
   height: 40px;
   border-radius: 20px;
   margin: 10px auto;
   text-align: center;
}

.btn{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: rgb(54, 54, 194);

}